@import 'constants.scss'

.prices-page
  .headers
    margin-bottom: 1rem !important

  &__content
    &__item
      padding: .5rem
      border-bottom: 1px solid $borderColor
      div:last-child
        text-align: right