@import 'constants.scss'

.lk
  .order-view
    .common-section, .container
      padding: 0
  .col-xs-12
    display: flex
    @include mobile
      flex-direction: column
  &__content
    width: 100%
    @include desktop
      padding-left: 3rem

  &__menu
    display: inline-flex
    flex-direction: column
    transform: translateX(-100%)
    align-items: flex-end
    li
      transition: transform .3s
      cursor: pointer
      padding: .1rem 0
      &.active
        color: $color-green-menu
        font-weight: bold
        transform: translateX(10%)
      a
        white-space: nowrap
    @include mobile
      display: inline-flex
      flex-direction: row
      transform: translateX(0%)
      margin-bottom: 1.5rem
      align-items: flex-start
      li
        &.active
          transform: translateY(-10%)
      li:not(:last-child)
        margin-right: .5rem

  .common-section
    min-height: 100vh

  .loader
    position: fixed
    top: 0
    left: 0