@import 'constants.scss'

.format-helper
  position: absolute
  display: flex
  flex-direction: column
  transition: transform .3s
  z-index: 10
  width: 100%
  top: 100%
  left: 0
  &.is-fixed
    position: fixed
    top: 0 !important
  @include mobile
    top: 70px
  &__shower
    border-bottom: 1px solid $color-border
    background-color: $color-background
    padding: .5rem .5rem
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    transition: background-color .3s
    svg
      width: 1.5rem
      height: 1.5rem
    @include desktop
      &:hover
        background-color: #e5e5e5
  &.active
    transform: translateY(0)
    .format-helper__content
      height: 100%
      padding: 1rem 2rem
    .format-helper__shower
      border: none

  &__content
    height: 0
    overflow: hidden
    padding: 0
    background-color: $color-background
    box-shadow: 0 0 2px rgba(0,0,0, .1)
    position: relative
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    @include mobile
      flex-direction: column
      align-items: flex-start
    &__list
      @include desktop
        margin-right: 1.5rem
      @include mobile
        margin-bottom: 1rem
        width: 100%
      p:first-child
        font-weight: 500
        margin-bottom: .5rem
    button
      @include mobile
        width: 100%

  &__checkbox-list-item
    font-weight: normal
    cursor: pointer
    display: inline-flex
    justify-content: space-between
    align-items: center
    margin-right: 1rem
    @include mobile
      min-width: 25%
  input[type="checkbox"]
    width: 1rem
    height: 1rem
    margin-left: .5rem

.set-order
  .common-section
    min-height: 100vh
  &__content
    margin-top: 1.5rem
    display: flex
    flex-wrap: wrap
    position: relative
    .loader
      position: fixed
      top: 0
      left: 0
  .file-item
    cursor: pointer
    width: 21%
    margin-bottom: 1rem
    position: relative
    border: 1px solid $color-border
    box-shadow: 0 0 3px rgba(152, 152, 152, 0.4)
    padding: 2rem .5rem .5rem .5rem
    display: flex
    flex-direction: column
    justify-content: space-between
    transition: transform .3s
    @include desktop
      &:not(:nth-of-type(4n))
        margin-right: 5%
    @include mobile
      width: 49%
      &:not(:nth-of-type(2n))
        margin-right: 2%
    &__img
      width: 100%
      height: auto
    &__description
      display: flex
      flex-direction: column
      width: 100%
      &__item
        margin-top: .5rem
        display: flex
        justify-content: space-between
        &:first-child
          margin-top: 1rem
        &_name
          flex-direction: column
        span:first-child
          font-weight: 500
          @include mobile
            font-size: .8rem
        span:last-child
          font-size: .8rem
          word-break: break-all
    &__close, &__check
      position: absolute
      width: 1.5rem
      height: 1.5rem
      top: .5rem
      right: .5rem
      color: red
      background-color: #fff
      border-radius: 50%
      transition: transform .3s
      &:hover
        transform: scale(1.1)
    &__check
      right: initial
      left: .5rem
      color: #b0b0b0
      &.is-checked
        animation: check-animate .3s
        color: $color-green-menu

  .add-file
    display: inline-flex
    @include mobile
      display: flex
      justify-content: flex-end
      label
        width: 100%

  &__button-wrapper
    display: flex
    justify-content: space-between
    .negative
      margin-left: 1rem
    @include mobile
      flex-direction: column
      .common-buttons
        display: flex
        justify-content: space-between
        margin-top: .5rem
        .negative
          margin-left: 0
        .btn
          min-width: initial
        > *
          width: 45%

@keyframes check-animate
  0%
    transform: scale(1)
  50%
    transform: scale(0)
  100%
    transform: scale(1)