@import 'constants.scss'


.set-order
  &__format-helper
    margin: 2rem
    position: absolute
    right: 0
    overflow: hidden
    height: 0
    &.active
      height: 100%
    thead
      td
        font-weight: 500
      td:not(:last-of-type)
        padding-right: 1rem
  .common-section
    min-height: 100vh
  &__content
    margin-top: 1.5rem
    display: flex
    flex-wrap: wrap
  .file-item
    border: 1px solid black
    width: 21%
    margin-bottom: 1rem
    @include desktop
      &:not(:nth-of-type(4n))
        margin-right: 5%
    @include mobile
      width: 47%
      &:not(:nth-of-type(2n))
        margin-right: 5%