@import 'constants.scss'

.main-menu
  padding: 1.5rem
  width: 100%
  display: grid
  grid-template: 1fr / 20% 1fr 20%
  position: relative
  @include mobile
    padding: 2rem 1rem 1rem
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    .butter-menu
      width: 50%
      justify-content: flex-end
  .search, .logo
    display: flex
    justify-content: center
    align-items: center
    width: 50%
    @include mobile
      justify-content: flex-start
  .search
    justify-content: flex-start
    @include mobile
      justify-content: flex-end
  .search
      @include mobile
        justify-content: flex-start
        min-height: 46px

  &__search-wrapper
    display: flex
    align-items: center

  &__menu
    display: flex
    justify-content: center
    @include mobile
      flex-direction: column
      position: absolute
      top: 2.5rem
  .menu-item
    cursor: pointer
    text-decoration: none
    span
      font-weight: 500
    .carret
      margin-left: 1rem
      position: relative
      top: -.3rem
    &__title
      transition: background-color .3s
      padding: .5rem .7rem
      display: flex
      align-items: center
      font-weight: bold
      user-select: none
      margin-right: .5rem
      span:first-child
        white-space: nowrap
      &:hover, &-active .menu-item__title
        background-color: $color-green-menu
        position: relative
        color: #fff
        .menu-item
          color: $font-color
        .carret
          border-bottom-color: #fff
          border-right-color: #fff
        &:after
          content: ''
          display: flex
          position: absolute
          height: .3rem
          background-color: $color-green-dark-menu
          width: 100%
          bottom: 0
          left: 0

    &__submenu
      position: absolute
      left: 3%
      top: 100%
      transition: opacity .3s, transform .3s
      opacity: 0
      transform: translateY(-10%)
      background-color: #fff
      color: $font-color
      width: 100%
      max-width: $max-width
      z-index: 3
      padding: 1.5rem
      ul
        display: inline-flex
        flex-direction: column
        flex-wrap: wrap
        width: 25%
        margin-bottom: 1rem
      li
        font-weight: 500
        padding: .5rem 0
        &:hover
          color: $color-green-dark-menu
      &_title
        font-weight: normal !important
        cursor: default
        user-select: none
        padding-bottom: 1rem
        border-bottom: 1px solid $borderColor
        &:first-child
          margin-right: .5rem
        &:hover
          color: $font-color !important

    &__open
      .menu-item__submenu
        opacity: 1
        transform: translateY(0)

  &__right-side
    display: flex
    align-items: center

.user-bar
  padding: 0 .5rem
  @include mobile
    width: 100%
    padding: .5rem .5rem
    display: flex
  svg
    cursor: pointer
    color: $font-color

  &.logged
    .user-bar__auth
      color: $color-green-menu
  &__auth
    display: flex
    align-items: center
    svg
      margin-right: .5rem
    &.active
      svg, span
        color: $color-green-menu
    span
      font-weight: 600
      color: $font-color
    &:hover
      svg, span
        color: $color-green-menu






