@import 'constants.scss'

.service-preview
  position: relative
  height: 21rem
  width: 100%
  display: flex
  @include desktop
    &:before
      content: ''
      position: absolute
      width: .1rem
      top: 1rem
      bottom: 1rem
      left: 0
      background-color: $color-green-dark-menu
    &_right
      flex-direction: row-reverse
      &:before
        left: initial
        right: 0
      .service-preview__date
        justify-content: flex-start
  @include mobile
    max-width: initial
    flex-direction: column
    margin-right: 0 !important
    margin-bottom: 2rem
    height: 90vmin

  &__date
    display: flex
    align-items: flex-end
    height: 100%
    justify-content: flex-end
    width: 100%

  &__image
    min-width: 21rem
    width: 21rem
    padding: 1rem
    @include mobile
      min-width: 100%
      width: 100%
      height: 48%
      padding: .5rem 0
    img
      width: 100%
      height: 100%
      object-fit: cover

  &__description
    color: $font-color
    padding: 2rem 1rem
    display: flex
    flex-direction: column
    align-items: flex-start
    flex-grow: 2
    text-align: left
    @include mobile
      padding: .5rem 0

    h4
      font-size: 1.2rem
      margin-bottom: 1rem
      @include mobile
        margin-bottom: .5rem
  a
    display: flex
    position: relative
    height: 100%


