@import 'constants.scss'

.service-item
  display: flex
  svg
    width: 3rem
    height: 3rem
    color: $color-green-menu
    margin-right: 1.5rem
  main
    flex-direction: column
    display: flex
    > *
      text-align: left
    h4
      font-size: 1.2rem
      font-weight: 500
      margin-bottom: .5rem
    p
      font-size: 1rem
      font-weight: 300
      margin-bottom: 1rem
      color: $font-color-lighter
    a
      color: $color-green-menu
      margin-bottom: 1rem